.containerUsers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.user{
  height: 200px;
  width: 150px;
}

.containerUsers a{
  text-align: center;
  padding: 20px;
}