<div class="responseComment comment">
    <div class="responseCommentHead commentHead">
        <div class="responseCommentAuthor commentAuthor">
            <div class="responseCommentAuthorPic commentAuthorPic">
                <div class="img" style="background-image: url('<%=client.imgUrl%>')"></div>
            </div>
            <span class="responseCommentAuthorName"><%=client.username%></span>
        </div>
    </div>

    <div class="responseCommentContent">
        <form class="responseCommentForm" action="" method="post">
            <textarea class="responseCommentTextArea" placeholder="Type your comment ..." required ></textarea>
        </form>
    </div>
</div>