<% include partials/header %>

<div id="mainArticles" class="main">

    <%articles.forEach(function(article){%>
        <% include partials/article %>
    <%})%>

</div>

<script type="text/javascript" src="/assets/js/articlesCountHeight.js"></script>
<script type="text/javascript" src="/assets/js/modifyContentForm.js"></script>

<% include partials/footer %>