<% include partials/header %>

<div id="mainArticle" class="main">

    <% include partials/article %>

</div>

<script type="text/javascript" src="/assets/js/modifyContentForm.js"></script>


<% include partials/footer %>