<%- include partials/header %>

<div id="mainCreate" class="main">

    <form id="creatingPost" class="entryForm" method="post" action="/createArticle">
        <input id="title" name="title" required type="text" placeholder="Title">
        <textarea id="content" name="content" required placeholder="Type your text ..."></textarea>
        <div class="formularButtons">
            <input id="CreateButton" class="button" type="submit" value="Create">
        </div>
    </form>

</div>

<%- include partials/footer %>