//-----------------------------------GLOBAL
//STRUCTURE
*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  position: relative;
}

.main{
  min-height:100%;
  width:100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

//LIST
ul{
  list-style-type: none;
}

//LINK
a{
  text-decoration: none;
  color: inherit;
}

//IMAGES
.img{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

@import 'partials/globalFormular';
@import 'partials/button';

//-----------------------------------SHARE
@import 'partials/header';
@import 'partials/entryFormular';
@import 'partials/article';
@import 'partials/comment';
@import 'partials/responseComment';
@import 'partials/footer';

//-----------------------------------PARTICULARITY
@import 'pages/errorPage';
@import 'pages/indexPage';
@import 'pages/signinPage';
@import 'pages/clientPage';
@import 'pages/articlePage';
@import 'pages/userPage';
@import 'pages/usersPage';
@import 'pages/createPostPage';

