//Design of 2 Formulars for entrance: SIGNIN and LOGIN(index)
.entryForm input{
  width: 50%;
  height: 10vh;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.formularButtons{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.formularButtons input{
  width: 40%;
}
